:host {
  display: block;
}

.container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
}

.visible {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.container > .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.75;
}

.container > .modal {
  position: relative;
  padding: 20px;
  background: #fff;
  color: black;
  width: fit-content;
  margin: auto;
  top: 10%;
  overflow: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

body.oak-no-scroll {
  overflow: hidden;
}

button {
  /* margin: 8px; */
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  outline: 0;
  letter-spacing: 0.04em;
  transition: all 0.15s ease;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

button.grey {
  background: #646468;
  color: white;
}

button.blue {
  background: #5851ff;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 6px;
}
